@model TESTE_ENTREVISTA.Models.Formulario
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>@Model.nome</p>
        <p>@Model.telefone</p>
        <p>@Model.email</p>
        <p>@Model.mensagem</p>
        <p>Olá, bem vindo e obrigado pelos dados.</p>    



        <!--Nome/Telefone/Email/Mensagem, com um botão Enviar -->

        <a href="/home/index">Voltar ao formulario.</a>
    </body>
</html>